.wrapper {
    background-color: black;
    height: 100vh;
    text-align: -webkit-center;
  }
  
  .typing-demo {
    color: white;
    width: 19ch;
    animation: typing 4s steps(26) 
    /* infinite alternate  */
    , blink 1s step-end infinite normal,
    hideBorder 10s forwards;;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @keyframes hideBorder {
    to {
      border-right-color: transparent;
    }
  }

  .search-results {
    color: white;
    opacity: 0;
    animation: fadeIn 4s forwards;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }