.MuiAutocomplete-listbox {
  background-color: grey; 
  color: white; 
  border-radius: 10px; 
}

.MuiAutocomplete-option {
  background-color: black; 
}

.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 8px;
  background-color: black; 
}

.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background-color: grey; 
  border-radius: 3px; 
}

/* Add yellow color to the input base label when focused */
.MuiInputLabel-root.Mui-focused {
  color: white !important;
}


.MuiInputLabel-underline:after: {
  border-bottom-color:green !important;
}