.player-wrapper {
    position: relative;
    width: 640px;
    height: 360px;
    border: 2px solid transparent;
    margin: auto;
  }
  
  .react-player {
    position: absolute;
    top: 0%;
  }



  /* Video item */
.video-item {
  background-color: #282828;
  margin: 10px;
  overflow: hidden;
  width: 320px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  border: 2px solid transparent;
}

/* Thumbnail */
.thumbnail-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thumbnail {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: auto;
}

/* Info */
.info-wrapper {
  padding: 5px;
  color: white;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.channel {
  font-size: 14px;
}

.video-item:hover{
  border-color: aqua;
}

.player-wrapper:hover{
  border-color: aqua;
}

/* Responsive layout */
@media (max-width: 768px) {


  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
    border: 2px solid transparent;
    height: auto;
    width: auto;
  }
  
  .react-player {
    position: absolute;
    top: 0%;
  }
  
  .video-item {
    display: flex;
    width: 94%;
    height: auto; /* Auto height to adjust based on content */
  }

  .thumbnail-wrapper {
    border-radius: 12px;
    width: 50%;
  }

  .thumbnail {
    border-radius: 12px; /* Keep rounded corners on thumbnail */
  }

  .info-wrapper {
    width: 100%; /* Show info on the bottom for mobile */
    align-items: flex-start; /* Align info to the right */
    height: auto; /* Auto height to adjust based on content */
  }

  .title {
    -webkit-line-clamp: 2;
  }

}
